In [2]:
import pandas as pd

#load csv
df=pd.read_csv("student_performance.csv")
#or 
#df=pd.read_csv("C:\\Users\Dell\\Ai_Python_DS_project\\Pandas Project-student-performance-analyzer\\student_performance.csv")

#display first few lines 
print(df.head())

          Name  Roll No    Subject  Marks Attendance Grade Exam Type  \
0  Riya Sharma      101       Math     87        90%     A   Midterm
1   Aman Singh      102    Physics     65        85%     B   Midterm
2  Sneha Patel      103       Math     92        95%    A+     Final
3    Raj Mehta      104  Chemistry     70        80%     B   Midterm
4   Isha Verma      105       Math     48        70%     C     Final

         Date
0  2023-10-05
1  2023-10-05
2  2024-03-12
3  2023-10-05
4  2024-03-12

In [3]:
#basic info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Roll No     10 non-null     int64
 2   Subject     10 non-null     object
 3   Marks       10 non-null     int64
 4   Attendance  10 non-null     object
 5   Grade       10 non-null     object
 6   Exam Type   10 non-null     object
 7   Date        10 non-null     object
dtypes: int64(2), object(6)
memory usage: 772.0+ bytes
None

In [ ]:
#describe
print(df.describe())

AttributeError: 'DataFrame' object has no attribute 'describ'

In [5]:
#columns
print(df.columns)

Index(['Name', 'Roll No', 'Subject', 'Marks', 'Attendance', 'Grade',
       'Exam Type', 'Date'],
      dtype='object')

In [6]:
df.shape

(10, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Roll No     10 non-null     int64
 2   Subject     10 non-null     object
 3   Marks       10 non-null     int64
 4   Attendance  10 non-null     object
 5   Grade       10 non-null     object
 6   Exam Type   10 non-null     object
 7   Date        10 non-null     object
dtypes: int64(2), object(6)
memory usage: 772.0+ bytes

In [8]:
df.isnull().sum()

Name          0
Roll No       0
Subject       0
Marks         0
Attendance    0
Grade         0
Exam Type     0
Date          0
dtype: int64

In [12]:

# Remove '%' and convert to float
df["Attendance"] = df["Attendance"].str.replace('%', '').astype(float)

df.info()

AttributeError: Can only use .str accessor with string values!

In [14]:
df["Date"] = pd.to_datetime(df["Date"])

print(df["Date"])

0   2023-10-05
1   2023-10-05
2   2024-03-12
3   2023-10-05
4   2024-03-12
5   2023-10-05
6   2024-03-12
7   2024-03-12
8   2024-03-12
9   2023-10-05
Name: Date, dtype: datetime64[ns]

In [18]:
df["Result"]=df["Marks"].apply(lambda x: "pass" if x>=40 else "fail")
print(df["Result"])

0    pass
1    pass
2    pass
3    pass
4    pass
5    pass
6    pass
7    fail
8    pass
9    pass
Name: Result, dtype: object

In [21]:
grade_scale={"A+":10,"A":9,"B+":8,"B":7,"C":6,"D":5}
df["Grade_Score"]=df["Grade"].map(grade_scale)
print(df["Grade_Score"])

0     9
1     7
2    10
3     7
4     6
5     6
6     8
7     5
8    10
9    10
Name: Grade_Score, dtype: int64

In [22]:
print(df.head())

          Name  Roll No    Subject  Marks  Attendance Grade Exam Type  \
0  Riya Sharma      101       Math     87        90.0     A   Midterm
1   Aman Singh      102    Physics     65        85.0     B   Midterm
2  Sneha Patel      103       Math     92        95.0    A+     Final
3    Raj Mehta      104  Chemistry     70        80.0     B   Midterm
4   Isha Verma      105       Math     48        70.0     C     Final

        Date Result  Grade_Score
0 2023-10-05   pass            9
1 2023-10-05   pass            7
2 2024-03-12   pass           10
3 2023-10-05   pass            7
4 2024-03-12   pass            6

In [23]:
high_attendance=df[df["Attendance"]>90.0]
print(high_attendance)

           Name  Roll No    Subject  Marks  Attendance Grade Exam Type  \
2   Sneha Patel      103       Math     92        95.0    A+     Final
8  Sonal Kapoor      109    Physics     89        92.0    A+     Final
9    Mehul Jain      110  Chemistry     93        96.0    A+   Midterm

        Date Result  Grade_Score
2 2024-03-12   pass           10
8 2024-03-12   pass           10
9 2023-10-05   pass           10

In [24]:
low_scores=df[df["Marks"]<70]
print(low_scores)

          Name  Roll No  Subject  Marks  Attendance Grade Exam Type  \
1   Aman Singh      102  Physics     65        85.0     B   Midterm
4   Isha Verma      105     Math     48        70.0     C     Final
5  Amit Tiwari      106  Physics     55        65.0     C   Midterm
7  Rahul Yadav      108     Math     35        60.0     D     Final

        Date Result  Grade_Score
1 2023-10-05   pass            7
4 2024-03-12   pass            6
5 2023-10-05   pass            6
7 2024-03-12   fail            5

In [26]:
cond_stud=df[(df["Marks"]>80) & (df["Attendance"]>70)]
print(cond_stud)

           Name  Roll No    Subject  Marks  Attendance Grade Exam Type  \
0   Riya Sharma      101       Math     87        90.0     A   Midterm
2   Sneha Patel      103       Math     92        95.0    A+     Final
8  Sonal Kapoor      109    Physics     89        92.0    A+     Final
9    Mehul Jain      110  Chemistry     93        96.0    A+   Midterm

        Date Result  Grade_Score
0 2023-10-05   pass            9
2 2024-03-12   pass           10
8 2024-03-12   pass           10
9 2023-10-05   pass           10

In [27]:
math_std=df[df["Subject"] == "Math"]
print(math_std)

          Name  Roll No Subject  Marks  Attendance Grade Exam Type       Date  \
0  Riya Sharma      101    Math     87        90.0     A   Midterm 2023-10-05
2  Sneha Patel      103    Math     92        95.0    A+     Final 2024-03-12
4   Isha Verma      105    Math     48        70.0     C     Final 2024-03-12
7  Rahul Yadav      108    Math     35        60.0     D     Final 2024-03-12

  Result  Grade_Score
0   pass            9
2   pass           10
4   pass            6
7   fail            5

In [28]:
grade_group=df.groupby("Grade")["Marks"].mean()
print(grade_group)

Grade
A     87.000000
A+    91.333333
B     67.500000
B+    78.000000
C     51.500000
D     35.000000
Name: Marks, dtype: float64

In [30]:
subject_group=df.groupby("Subject")["Marks"].mean()
print(subject_group)

Subject
Chemistry    80.333333
Math         65.500000
Physics      69.666667
Name: Marks, dtype: float64

In [31]:
sort_df=df.sort_values(by="Marks", ascending=False)
sort_df

,Name,Roll No,Subject,Marks,Attendance,Grade,Exam Type,Date,Result,Grade_Score
9,Mehul Jain,110,Chemistry,93,96.0,A+,Midterm,2023-10-05,pass,10
2,Sneha Patel,103,Math,92,95.0,A+,Final,2024-03-12,pass,10
8,Sonal Kapoor,109,Physics,89,92.0,A+,Final,2024-03-12,pass,10
0,Riya Sharma,101,Math,87,90.0,A,Midterm,2023-10-05,pass,9
6,Priya Nair,107,Chemistry,78,88.0,B+,Final,2024-03-12,pass,8
3,Raj Mehta,104,Chemistry,70,80.0,B,Midterm,2023-10-05,pass,7
1,Aman Singh,102,Physics,65,85.0,B,Midterm,2023-10-05,pass,7
5,Amit Tiwari,106,Physics,55,65.0,C,Midterm,2023-10-05,pass,6
4,Isha Verma,105,Math,48,70.0,C,Final,2024-03-12,pass,6
7,Rahul Yadav,108,Math,35,60.0,D,Final,2024-03-12,fail,5

In [32]:
sort_df_dec=df.sort_values(by="Subject", ascending=True)
sort_df_dec

,Name,Roll No,Subject,Marks,Attendance,Grade,Exam Type,Date,Result,Grade_Score
3,Raj Mehta,104,Chemistry,70,80.0,B,Midterm,2023-10-05,pass,7
6,Priya Nair,107,Chemistry,78,88.0,B+,Final,2024-03-12,pass,8
9,Mehul Jain,110,Chemistry,93,96.0,A+,Midterm,2023-10-05,pass,10
0,Riya Sharma,101,Math,87,90.0,A,Midterm,2023-10-05,pass,9
2,Sneha Patel,103,Math,92,95.0,A+,Final,2024-03-12,pass,10
4,Isha Verma,105,Math,48,70.0,C,Final,2024-03-12,pass,6
7,Rahul Yadav,108,Math,35,60.0,D,Final,2024-03-12,fail,5
1,Aman Singh,102,Physics,65,85.0,B,Midterm,2023-10-05,pass,7
5,Amit Tiwari,106,Physics,55,65.0,C,Midterm,2023-10-05,pass,6
8,Sonal Kapoor,109,Physics,89,92.0,A+,Final,2024-03-12,pass,10